<!-- <!DOCTYPE html> -->
<html>
	<head>
		<title>Ton's bitly Clone</title>
		<!-- <script type="text/javascript" src="index.js"></script> -->
		<link rel="stylesheet" type="text/css" href="css/bitly.css">
		<link href="https://fonts.googleapis.com/css?family=Lato:900|Montserrat|Pacifico" rel="stylesheet">	
</head>
	<body style = "background-color: floralwhite">
		<div class = "header">
			<div id="title">tonly - a bitly Clone</div>

			<ul>
  				<li><a href="#">Navbar</a></li>
				<li><a href="#">Navbar</a></li>
				<li><a href="#">Navbar</a></li>
			</ul>

		</div>
		<div class="background">
		<div class="title">
			Insert a link to shorten it
		</div>

		<form class = submit action="/urls" method="post">
   			<div id = "input">
        		<input class="input" id="name" name="long_url" type="text" value="https:// Paste-URL-Here" />  
   				<input id="submit" type="submit" value="SHORTEN">
   			<div> 
		</form>
		</div>

		<% if @urls != nil %> 
			<form action="/clear" method="post">
    			<input type="submit" value="Clear Links">
 			</form>
			<div class="table">
				<table>
					<th>LONG URL</th>
					<th>SHORT URL</th>
					<th>Click Count</th>
				<% @urls.each do |x| %>
					<tr>
						<td><a href="<%= x.long_url %>"><%= x.long_url %></a></td>
						<td><a href="<%= x.short_url %>" type="submit" value = "<%= x.short_url %>">https://ton.ly/<%= x.short_url %></a></td>
						<td><%= x.click_count %></td>
					</tr>
				<% end %>
				</table> 
			</div>

			<form action="/clear" method="post">
    			<input type="submit" value="Clear Links">
 			</form>
 		<% end %>

<div class="footer">
    <img id="peek" src="img/peek2.png" height=100px>
    <p id="foot-banner">UNLOCK THE POWER OF THE LINK</p>
</div>

	</body>
</html>